@using QuanLyDienThoai.Models
@model IEnumerable<ChiTietThietBi>

@using System.Globalization;


<div class="row">
    @{
        if (Model.Count() == 0)
        {
            <h3>Không có sản phẩm</h3>
        }

    }
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-lg-4 product-men mt-3">
            <div class="men-pro-item simpleCart_shelfItem">
                <div class="men-thumb-item text-center">
                    <img src="@Url.Content("~/Assests/HinhSP/" + @item.ThietBi.HinhAnh1)" style="width: 250px; height: 250px; ">
                    <div class="men-cart-pro">
                        <div class="inner-men-cart-pro">
                            <a href="@Url.Action("XemChiTiet", "SanPham", new { @maSP = item.MaTB})" class="link-product-add-cart">
                                Chi Tiết
                            </a>
                        </div>
                    </div>
                </div>

                <div class="item-info-product text-center border-top mt-4">
                    <div class="pt-1">
                        <a href="@Url.Action("XemChiTiet", "SanPham", new { @maSP = item.MaTB})">@item.ThietBi.TenTB</a>
                    </div>
                    <div class="info-product-price my-2">
                        <span class="item_price">@item.GiaTien.ToString("##,#", new CultureInfo("es-ES")) VNĐ</span>
                    </div>
                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                        <a href="@Url.Action("ThemGioHang", "GioHang", new { @ms = item.MaTB, @strURL = Request.Url.ToString() })">
                            <input type="submit" value="MUA NGAY" class="button btn" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>